p {
    margin: 0
}

hr {
    max-width: 100%;
    border-bottom: 1px solid #e2e6e7
}

.off-canvas-content {
    box-shadow: none;
    padding: 0
}

.nowrap {
    white-space: nowrap
}

.fullWidthBanner {
    padding: 0
}

.row .columns:last-child {
    float: left
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    margin: 0;
    padding: 0
}

table thead, table tbody, table tfoot {
    border: 0
}

.has-tip {
    font-weight: inherit;
    border-bottom: dotted 1px #1970aa
}

.tooltip {
    font-size: .75rem;
    color: #fff;
    max-width: 16rem !important
}

.tap-to-close {
    color: #999
}

.scrollToTop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: url(https://d9qzjwuieyamt.cloudfront.net/res/images/_png/scroll_top.png?20170122144710) no-repeat
}

.scrollToTop:hover {
    background: url(https://d9qzjwuieyamt.cloudfront.net/res/images/_png/scroll_top_over.png?20170122144710) no-repeat
}

#message {
    font-size: .9rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding: .75rem 0;
    background: #ad0000;
    color: #fff;
    display: none
}

.colNoPad {
    padding: 0
}

.boxShadow {
    box-shadow: 0 2px 2px silver
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media only screen and (min-width: 40.063em) {
    .valign-middle {
        display: table
    }

    .valign-middle .columns {
        display: table-cell;
        vertical-align: middle
    }

    .valign-middle .columns, .valign-middle [class*="column"] + [class*="column"]:last-child {
        float: none
    }
}

.coreSprite {
    background-image: url(https://d9qzjwuieyamt.cloudfront.net/res/images/sprite/layout-sprite.png?20170122144710);
    background-size: 750px;
    background-repeat: no-repeat
}

.accountSprite {
    background-image: url(https://d9qzjwuieyamt.cloudfront.net/res/images/sprite/account-sprite.png?20170122144710);
    background-size: 250px;
    background-repeat: no-repeat
}

.locSprite {
    background: url(https://d9qzjwuieyamt.cloudfront.net/res/images/sprite/layout-sprite-uk.png?20170122144710);
    background-size: 500px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
    .coreSprite {
        background-image: url(https://d9qzjwuieyamt.cloudfront.net/res/images/sprite/layout-sprite@2x.png?20170122144710);
        background-size: 750px;
        background-repeat: no-repeat
    }

    .accountSprite {
        background-image: url(https://d9qzjwuieyamt.cloudfront.net/res/images/sprite/account-sprite@2x.png?20170122144710);
        background-size: 250px;
        background-repeat: no-repeat
    }

    .locSprite {
        background-image: url(https://d9qzjwuieyamt.cloudfront.net/res/images/sprite/layout-sprite-uk@2x.png?20170122144710);
        background-size: 500px;
        background-repeat: no-repeat
    }
}

@media only screen and (max-width: 64em) {
    h1 {
        font-size: 1.25rem;
        font-weight: bold;
        letter-spacing: -1px
    }

    h1.productTitle {
        font-size: .9rem;
        margin: 1rem 0 .5rem;
        letter-spacing: 0
    }

    h1.searchTitle {
        font-size: 1rem;
        margin: .75rem 0;
        letter-spacing: 0
    }

    h1.superHeading {
        font-size: 1.75rem;
        letter-spacing: -1px
    }

    h2 {
        font-size: 1.125rem
    }

    h3 {
        font-size: 1rem
    }

    p.title {
        font-size: 1.9rem;
        line-height: 2.5rem;
        color: #2d3e50;
        letter-spacing: -1px
    }

    p.largest {
        font-size: 1.125rem;
        font-weight: bold
    }

    p.large {
        font-size: 1rem
    }

    p {
        font-size: .875rem
    }

    p.small {
        font-size: .75rem
    }

    p.smallest {
        font-size: .7rem
    }

    button, .button {
        font-size: .875rem
    }

    ul li {
        font-size: .875rem
    }
}

@media only screen and (min-width: 64.063em) {
    h1 {
        font-size: 1.5rem;
        font-weight: bold
    }

    h1.productTitle {
        font-size: 1.2rem;
        margin-bottom: .25rem
    }

    h1.searchTitle {
        margin: 1rem 0
    }

    h1.superHeading {
        font-size: 2.5rem;
        letter-spacing: -1px
    }

    h2 {
        font-size: 1.35rem
    }

    h3 {
        font-size: 1.2rem
    }

    p.title {
        font-size: 2.5rem;
        line-height: 3rem;
        color: #2d3e50;
        letter-spacing: -1px
    }

    p.largest {
        font-size: 1.2rem;
        font-weight: bold
    }

    p.large {
        font-size: 1.1rem
    }

    p {
        font-size: .875rem
    }

    p.small {
        font-size: .8rem
    }

    p.smallest {
        font-size: .7rem
    }

    button, .button {
        font-size: 1rem
    }

    ul li {
        font-size: .875rem
    }
}

.red {
    color: #ad1100
}

.white {
    color: #fff
}

.orange1 {
    color: #fc4c02
}

.orange2 {
    color: #ffb400
}

.blue {
    color: #1460a6
}

.pink {
    color: #c612bb
}

.green {
    color: #00aa18
}

.grey {
    color: #aaa
}

.dkGrey {
    color: #707070
}

select, input[type=text], input[type=email], input[type=password] {
    background-color: #fffddb;
    border-radius: 0
}

#users label, #users input, #users select, #accountProfile input, #eyeAppt label, #eyeAppt input, #eyeAppt select, #accountProfile label, #accountProfile input, #accountProfile select, #presForm input, #presForm textarea, #presForm select, legend {
    font-size: .8rem
}

.form-error {
    font-weight: normal;
    font-style: italic
}

.ValidationRequiredField {
    color: #b00
}

a {
    color: #000
}

a.blue_ul {
    color: #00799e;
    text-decoration: underline
}

a.white_ul {
    color: #fff;
    text-decoration: underline
}

a.black_ul {
    text-decoration: underline
}

a:hover.blue_ul, a:hover.white_ul, a:hover.black_ul {
    text-decoration: none
}

a.white {
    color: #fff;
    text-decoration: none
}

a.offWhite {
    color: #dadada;
    text-decoration: none
}

a.white:hover, a:hover.offWhite {
    text-decoration: underline
}

a.highlight {
    background: #ffe4a2;
    white-space: nowrap;
    padding: 3px 6px;
    color: #000;
    text-decoration: underline
}

a.highlight_large {
    background: #ffe4a2;
    white-space: nowrap;
    padding: 16px 32px;
    color: #000;
    text-decoration: none;
    border: 1px solid #e8c672;
    font-weight: bold
}

a.highlight:hover, a.highlight_large:hover {
    background: #fbcf62;
    text-decoration: none
}

button, .button {
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0
}

a.linkCTA {
    background: #48647c;
    color: #fff;
    padding: .4rem .5rem;
    border-radius: 3px;
    white-space: nowrap
}

.generic {
    background: #fc4c02
}

.generic_alt {
    background: #48647c
}

.search {
    padding: 1rem 0;
    width: 100%;
    background: #fc4c02
}

.largeFwCTA {
    padding: 1.25rem 0;
    width: 100%;
    background: #fc4c02
}

.buyNow_CTA {
    padding: .6rem 2rem .55rem;
    background: #fc4c02
}

.moreDetails_CTA {
    padding: .4rem .75rem .35rem;
    font-size: .7rem;
    color: #d03e00;
    border: 1px solid #fc4c02;
    background-color: #fff;
    border-radius: 2px
}

.promo_CTA {
    padding: .75rem 0;
    font-size: .8rem;
    background: #7fba23;
    color: #fff;
    width: 4.5rem;
    margin-left: .5rem
}

.findStore {
    padding: .65rem .25rem .65rem;
    width: 100%;
    background: #fc4c02
}

.subscribeCTA {
    font-weight: normal;
    background-color: #27ae61;
    color: #fff;
    padding: 9px 16px;
    font-size: 1.2rem;
    text-transform: none;
    width: 100%
}

.postcodeCTA {
    background-color: #27ae61;
    color: #fff;
    padding: 11px 16px 12px;
    font-size: .9rem;
    text-transform: none;
    width: 100%;
    margin-top: 1.45rem
}

.ImageUploadCTA {
    padding: 1.25rem 0;
    width: 100%;
    background: #d9d9d9;
    color: #000;
    border: 1px solid #ccc
}

.generic:hover, .generic_alt:hover, .largeFwCTA:hover, .buyNow_CTA:hover, .moreDetails_CTA:hover, .promo_CTA:hover, .findStore:hover, .search:hover, .subscribeCTA:hover, .ImageUploadCTA:hover {
    background: #c00
}

.wishlist_CTA {
    color: #fff;
    font-size: .85rem;
    font-weight: normal;
    text-transform: none;
    background-color: #48647c;
    margin: 1rem 0 0;
    padding: .75rem 1rem
}

.wishlist_CTA:hover, a:hover.linkCTA {
    background-color: #2d3e50
}

.invert {
    font-weight: normal;
    color: #d03e00;
    border: 1px solid #fc4c02;
    background-color: #fff;
    padding: 12px 16px;
    min-width: 8rem;
    font-size: 1.2rem;
    text-transform: none;
    margin: .25rem
}

.invert:hover {
    color: #d03e00;
    background-color: #f6f6f6;
    border: 2px solid #fc4c02;
    padding: 11px 15px
}

#siteLogoMobile {
    background-position: 10px -116px;
    width: 150px;
    height: 35px
}

#siteLogo {
    background-position: 15px -7px;
    width: 245px;
    height: 80px
}

header {
    margin-bottom: 0
}

footer.main {
    background: #333;
    padding: .75rem 0;
    color: #898989
}

footer.subscribe {
    background: #444;
    color: #fff;
    padding-top: .5rem
}

footer a {
    line-height: 1.5rem
}

.promoBar {
    background: #2d3e50;
    color: #fff
}

.supportBar {
    background: #f7f5f6;
    font-size: .75rem;
    color: #000
}

.uspBar {
    background: #f0f0f0;
    padding: .7rem 0
}

.uspBar p.usp {
    font-size: .75rem
}

.uspBar .delivery {
    background-position: 0 0;
    padding-left: 4.5rem
}

.uspBar .freeLenses {
    background-position: 0 -45px;
    padding-left: 4.3rem
}

.uspBar .trust {
    background-position: 0 -86px;
    padding-left: 5.2rem
}

.title-bar {
    background: #fff;
    border-bottom: 1px solid #e2e6e7
}

.title-bar-left {
    padding: .1rem 0
}

.title-bar-right {
    padding: .1rem 0
}

.title-bar-right .menu > li > a {
    padding: .2rem;
    margin: .25rem .3rem 0 .3rem
}

.title-bar-right .menu span {
    border-radius: 2px;
    background: #fc4c02;
    color: #fff;
    padding: .2rem .4rem;
    font-size: .8rem;
    font-weight: bold
}

.menu-icon::after {
    background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
    height: 3px;
    top: -1px
}

.menu-icon-button {
    background: #f0f0f0;
    margin-top: 1.4rem;
    margin-left: 1.5rem;
    padding: .25rem .5rem;
    border-radius: 3px;
    border: 1px solid #e0e0e0
}

.nav-icons-mob {
    font-size: 1.5rem;
    color: #304258
}

.mobile-ofc {
    background: #333
}

.mobile-ofc .menu a {
    height: 45px;
    line-height: 45px;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    font-size: .8rem;
    border-bottom: 1px solid #555
}

.mobile-ofc .menu a:hover, .mobile-ofc .menu a:focus {
    background: black
}

.mobile-ofc label {
    padding: .6rem 0 .6rem .5rem;
    background: #111;
    color: #fc4c02;
    font-weight: bold;
    font-size: .8rem
}

.mobile-ofc ul.drilldown {
    background: #545454
}

.mobile-ofc ul.drilldown li a {
    border-bottom: 1px solid #333
}

.off-canvas a.close-button, .off-canvas .close-button:hover, .off-canvas .close-button:focus {
    color: #e6e6e6
}

.top-bar {
    background: #fff
}

.top-bar ul {
    background: #f0f0f0
}

.top-bar ul li {
    background: #fff
}

.top-bar ul li a {
    color: #000
}

.menu-bar {
    margin-top: 1.45rem
}

.nav-icon-bar {
    margin-top: .7rem
}

.nav-icon-bar .menu > li > a {
    padding: .7rem .2rem;
    margin: 0 .45rem
}

.nav-icon-bar span {
    border-radius: 3px;
    background: #fc4c02;
    color: #fff;
    padding: .2rem .5rem;
    font-size: 1rem;
    font-weight: bold
}

.nav-icon-bar .nav-icons {
    font-size: 2.1rem;
    color: #304258
}

.nav-icon-bar .nav-icons:hover {
    color: #fc4c02
}

.dropdown.menu .submenu {
    border: 0;
    width: 205px
}

.is-dropdown-submenu-parent.is-down-arrow a {
    padding-left: .8rem;
    padding-right: 1.5rem;
    font-size: .75rem
}

.is-dropdown-submenu-parent.is-down-arrow > a::after {
    border-color: #304258 transparent transparent;
    top: 12px;
    right: 10px
}

a.mainMenuLink {
    letter-spacing: 2.25px;
    font-size: .75rem;
    text-transform: uppercase;
    padding: 5px
}

a.mainMenuLink:hover {
    background: #e0e0e0
}

li.has-submenu li {
    background-color: #e0e0e0
}

li.has-submenu li:hover {
    background: #ccc
}

li.has-submenu li.deepMenu {
    background: #d0d0d0
}

.top-flag-section {
    width: 90px
}

.top-flag-section ul {
    margin: 0;
    line-height: 0
}

.top-flag-section > ul > li > div {
    cursor: pointer
}

.top-flag-section > ul > li > div:hover {
    color: #878787
}

.top-flag-section .has-flag-dropdown {
    display: block
}

.top-flag-section .has-flag-dropdown > .flag-dropdown {
    display: none
}

.top-flag-section .has-flag-dropdown > .flag-dropdown.active {
    display: block;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
    position: absolute !important;
    z-index: 10000;
    margin-top: 4px;
    margin-left: -75px;
    padding-top: .75rem;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3)
}

.top-flag-section .flag-dropdown li {
    width: 140px;
    padding: 0;
    margin: 4px 14px;
    font-size: .75rem
}

.top-flag-section ul, .top-flag-section ul li {
    background: #f7f5f6;
    color: #000;
    list-style: none
}

.top-flag-section li.lang {
    border-bottom: 1px solid #e6e6e6
}

.top-flag-section li.lang:last-child {
    border-bottom: 0
}

.top-flag-section li.lang a {
    color: #000
}

.top-flag-section li.lang a:hover {
    color: #878787
}

.top-flag-section li.lang img {
    width: 20px
}

.top-flag-section select {
    padding: .25rem;
    height: 1.5rem;
    margin-bottom: .5rem;
    font-size: .75rem
}

.mobile-footer select {
    background-color: #fff;
    height: 2rem;
    border-radius: 0
}
