html {
  box-sizing: border-box;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}
body {
  font-size: .875rem;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  background: #fefefe;
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 1430px;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
p,
ul {
  margin-bottom: 0;
}
.red {
  color: #ad1100;
}
.header-sticky-block {
  background-color: #2d3e50;
  padding: .6rem 0;
  color: #fff;
}
.header-sticky-block p {
  font-size: .8rem;
}
.header-sticky-block a {
  color: #fff;
  text-decoration: underline;
}
.header-sticky-block a:hover {
  text-decoration: none;
}
#sticky-wrapper {
  position: relative;
  z-index: 9999;
}
.support-bar {
  padding: .5rem;
  background-color: #f7f5f6;
  font-size: .75rem;
  color: #000;
}
.support-bar a {
  color: #00799e;
  text-decoration: underline;
}
.support-bar a:hover {
  text-decoration: none;
}
.contact-list {
  display: flex;
  justify-content: flex-start;
}
.contact-item {
  display: inline-block;
  font-size: .75rem;
}
.contact-item a {
  font-size: .75rem;
}
.register_and_lang-list {
  display: flex;
  justify-content: flex-end;
}
.register_and_lang-list .dropdown {
  font-size: .875rem;
  line-height: 0.8rem;
}
.register_and_lang-list .dropdown a {
  text-decoration: none;
  color: #000;
}
.register_and_lang-list .dropdown a:hover {
  color: #878787;
}
.register_and_lang-list .dropdown-menu {
  left: -100%;
}
.logo_and_menu-block {
  padding: .5rem 0;
}
.logo {
  text-indent: -9999px;
  display: inline-block;
  background: url("../img/layout-sprite-uk.png") 15px -7px no-repeat;
  width: 245px;
  height: 80px;
}
.main-menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.4rem 1rem;
}
.main-menu-item {
  list-style: none;
  float: left;
  height: 33px;
  padding: 0;
  margin: 0;
  width: 135px;
  text-align: center;
  position: relative;
}
.main-menu-item a {
  letter-spacing: 2.25px;
  font-size: .75rem;
  text-transform: uppercase;
  display: block;
  padding: .7rem .6rem;
  line-height: 1;
  color: #000;
  width: 120px;
  height: 30px;
}
.main-menu-item a:hover {
  background-color: #e0e0e0;
}
.main-menu-item > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 200px;
  display: none;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 30px;
}
.main-menu-item > ul .main-menu-item {
  float: none;
  height: 33px;
  margin: 0;
  width: 100%;
  text-align: left;
  background: #e0e0e0;
}
.main-menu-item > ul .main-menu-item a {
  width: 200px;
  padding-left: .8rem;
  padding-right: 1.5rem;
  font-size: .75rem;
}
.main-menu-item > ul .main-menu-item a:hover {
  background-color: #ccc;
}
.main-menu-list > .sub-menu-have::after {
  border-color: #304258 transparent transparent;
  top: 14px;
  right: 24px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 5px inset;
  border-color: #000 transparent transparent;
  border-top-style: solid;
  border-bottom-width: 0;
  position: absolute;
}
.main-menu-item:hover ul {
  display: block;
}
.main-menu-item:hover {
  background: #e0e0e0;
}
.search-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1.4rem 1rem;
}
.search-item {
  margin-left: 1rem;
}
.search-item a {
  color: #304258;
  transition: all .2s ease;
  font-size: 1.5rem;
}
.search-item a:hover {
  color: #fc4c02;
}
.search-item:last-child {
  position: relative;
  top: -3px;
}
.nav-icon-bar {
  border-radius: 3px;
  background: #fc4c02;
  color: #fff;
  padding: .2rem .5rem;
  font-size: 1rem;
  font-weight: bold;
}
.header-features-block {
  background-color: #f0f0f0;
  padding: .7rem 0;
}
.header-features-item {
  font-size: .75rem;
  color: #000;
  padding-left: 4.5rem;
  -webkit-background-size: 750px;
  background-size: 750px;
}
.header-features-item a {
  color: #000;
  font-weight: 700;
}
.header-features-item a:hover {
  color: #258faf;
}
.header-features-item p {
  font-weight: 400;
  padding-top: .2rem;
}
.header-features-item-1 {
  background: url("../img/layout-sprite.png") 0 0 no-repeat;
}
.header-features-item-2 {
  background: url("../img/layout-sprite.png") 0 -45px no-repeat;
  padding-left: 4.5rem;
}
.header-features-item-3 {
  background: url("../img/layout-sprite.png") 0 -86px no-repeat;
  padding-left: 5.2rem;
}
.banner1-block {
  background: url("../img/homepage-bg-banner_nyny17.jpg") center center no-repeat;
  height: 500px;
  max-width: 100%;
  padding-top: 25rem;
}
.links-flex {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.shop-link {
  font-weight: 700;
  color: #c00;
  border: 1px solid #c00;
  background-color: #f7f5f6;
  padding: 1rem .8rem;
  min-width: 10rem;
  font-size: 1.2rem;
  text-transform: none;
  margin: 0 0.8rem;
}
.shop-link:hover {
  color: #fc4c02;
  background-color: #fff;
  border: 1px solid #fc4c02;
}
.trast-panel-home-block {
  background: #f4f4f5;
  padding: .5rem 0;
  min-height: 2.25rem;
}
.trast-panel-home-block p {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: .25rem;
  color: #222;
}
.flash-sale-block {
  background-color: #48647c;
}
p {
  font-size: .875rem;
  line-height: 1.6;
}
.title {
  font-size: 2.5rem;
  line-height: 3rem;
  color: #2d3e50;
  letter-spacing: -1px;
}
.title-small {
  font-size: 1.2rem;
  font-weight: 700;
}
.shop-link-2 {
  font-weight: 400;
  color: #d03e00;
  border: 1px solid #fc4c02;
  background-color: #fff;
  padding: 12px 26px;
  min-width: 8rem;
  font-size: 1.2rem;
  text-transform: none;
  margin: .25rem;
}
.shop-link-2:hover {
  color: #d03e00;
  background-color: #f7f5f6;
  border: 2px solid #fc4c02;
  padding: 11px 25px;
}
.designer-sunglasses-block {
  padding-bottom: 2rem;
}
.designer-sunglasses-block .title {
  margin-top: 10rem;
}
.designer-sunglasses-block img {
  max-width: 100%;
}
.designer-sunglasses-block .link-blue1 {
  text-decoration: underline;
  color: #00799e;
}
.designer-sunglasses-block .link-blue1:hover {
  text-decoration: none;
}
.fave-brands-block {
  padding: 2.5rem 0 3.5rem;
  border-top: 1px solid #e2e6e7;
  border-bottom: 1px solid #e2e6e7;
}
.fave-brands-block img {
  max-width: 100%;
  margin: 1.5rem 0 2rem;
}
.tips-block {
  padding: 2.8rem 0 4rem;
}
.tips-block img {
  max-width: 100%;
}
.tips-block-2 {
  padding: 2.5rem 0;
  border-top: 1px solid #e2e6e7;
  border-bottom: 1px solid #e2e6e7;
}
.tips-block-2 .title {
  margin-top: 5rem;
}
.padding-left-right-1 {
  padding: 0 1rem;
}
.tips-block-3 {
  padding: 2.8rem 0 3rem;
}
.tips-block-3 .title {
  margin-top: 5rem;
}
.title-medium {
  font-size: 1.5rem;
  font-weight: 700;
}
.eleven-reasons-block {
  border-top: 1px solid #e2e6e7;
  border-bottom: 1px solid #e2e6e7;
  background-color: #f7f5f6;
  padding: 4rem 0;
}
.eleven-reasons-block .title-small {
  font-size: 1.1rem;
}
.reasons-list {
  margin-left: 1.25rem;
  margin-right: .5rem;
  margin-bottom: 1rem;
  list-style-type: disc;
  line-height: 1.6;
  list-style-position: outside;
}
em {
  font-style: italic;
}
.social-list {
  display: inline-flex;
  justify-content: flex-start;
}
.social-item a {
  color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  transition: all .3s ease;
}
.social-item a .fa {
  font-size: 1.5rem;
}
.fb a {
  background-color: #3b5998;
}
.fb a:hover {
  transform: translateY(-4px);
}
.likes-count {
  position: relative;
}
.likes-count a {
  font-family: helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding: 0 6px;
  background: #ebebeb;
  color: #32363b;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-size: 0.7rem;
}
.likes-count a:hover {
  background-color: #dbdbdb;
}
.likes-count a:hover::after {
  background-color: #999;
}
.likes-count::after {
  top: 21%;
  left: -4px;
  content: "";
  position: absolute;
  border-width: 5px 8px 5px 0;
  border-style: solid;
  border-color: transparent #ebebeb transparent transparent;
  display: block;
  width: 0;
  height: 0;
  -webkit-transform: translateY(360deg);
  transform: translateY(360deg);
}
.likes-count::after:hover {
  border-color: #999;
}
.twitter a {
  background-color: #1da1f2;
}
.twitter a:hover {
  transform: translateY(-4px);
}
.google-plus a {
  background-color: #dc4e41;
  font-size: 1.2rem;
}
.google-plus a:hover {
  transform: translateY(-4px);
}
.add a {
  background-color: #ff6550;
}
.subscribe-block {
  background: #444;
  color: #fff;
  padding-top: .5rem;
  padding-bottom: 1rem;
}
.subscribe-block .title-small {
  font-size: 1.1rem;
  font-weight: 700;
}
.subscribe-block p {
  font-size: .8rem;
}
#subscribeID {
  width: 35%;
  margin: 1.5rem auto 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#subscribeID input,
#subscribeID button {
  width: 50%;
}
#subscribeID input {
  display: block;
  box-sizing: border-box;
  padding: .5rem;
  font-family: inherit;
  font-size: 1rem;
  color: #0a0a0a;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f7f5f6;
  border: 0;
  margin: 0;
}
#subscribeID input:hover {
  outline: none;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}
#subscribeID button {
  font-weight: normal;
  background-color: #27ae61;
  color: #fff;
  padding: 6px 16px;
  font-size: 1.2rem;
  text-transform: none;
  border: none;
}
#subscribeID button:hover {
  background-color: #c00;
  transition: all .2s ease;
}
.footer {
  background-color: #333;
  color: #dadada;
  padding: 1rem 0 2.5rem;
}
.footer .foo-menu-item {
  color: #878787;
  display: inline-block;
}
.footer .foo-menu-item a {
  display: inline-block;
}
.footer .foo-menu-item a:hover {
  text-decoration: underline;
}
.footer a {
  color: #dadada;
  font-size: .8rem;
}
.footer p {
  font-size: .8rem;
  color: #878787;
}
.footer p.copyright {
  margin-top: 2rem;
}
.footer p.company-info {
  margin-bottom: 2rem;
}
.pushy ul:first-child {
  margin-top: 40px;
}
#container {
  display: none;
}
/* hamburger animation */
#container {
  position: relative;
  z-index: 99999;
}
.menu-btn {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  cursor: pointer;
}
.menu-btn span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.menu-btn:hover {
  cursor: pointer;
}
.menu-btn:hover span {
  background: #000;
}
.menu-btn.open span {
  background: #fff;
}
.menu-btn span:nth-child(1) {
  top: 0px;
}
.menu-btn span:nth-child(2),
.menu-btn span:nth-child(3) {
  top: 10px;
}
.menu-btn span:nth-child(4) {
  top: 20px;
}
.menu-btn.open span:nth-child(1) {
  top: 13px;
  width: 0%;
  left: 50%;
}
.menu-btn.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-btn.open span:nth-child(4) {
  top: 13px;
  width: 0%;
  left: 50%;
}
/* hamburger animation end*/
@media screen and (max-width: 1460px) {
  .container {
    width: 1170px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .designer-sunglasses-block .title {
    margin-top: 4rem;
  }
  .tips-block-3 .title {
    margin-top: 2rem;
  }
  #subscribeID {
    width: 50%;
  }
  .main-menu-list {
    margin: 1.4rem 5rem;
  }
  .main-menu-list > .sub-menu-have::after {
    right: 13px;
  }
  .medium-delete {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 750px;
  }
  .designer-sunglasses-block {
    padding-top: 2rem;
  }
  .designer-sunglasses-block .title {
    margin-top: 0;
  }
  .tips-block-2 .title,
  .tips-block-3 .title {
    margin-top: 0;
  }
  .title {
    font-size: 1.9rem;
    line-height: 2.5rem;
    letter-spacing: -1px;
    margin-top: 0;
  }
  .main-menu-list {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  #container {
    display: inline-block;
    position: relative;
    z-index: 999999999999;
    top: 13px;
  }
  .support-bar {
    display: none;
  }
  .onlyDesktop {
    display: none;
  }
  .contact-list {
    justify-content: space-between;
  }
  .contact-list a {
    font-size: 1rem;
  }
  .register_and_lang-list {
    justify-content: center;
  }
  .register_and_lang-list a {
    font-size: 1rem;
  }
  .register_and_lang-list .dropdown {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  #sticky-wrapper {
    display: none;
  }
  .logo {
    margin: 0 auto;
    background: url("../img/layout-sprite-uk.png") 15px -117px no-repeat;
    width: 144px;
    height: 34px;
  }
  .header-features-block .col-sm-6 {
    display: flex;
    justify-content: center;
  }
  .header-features-item {
    padding-left: 5.5rem;
    margin: 0.5rem 0;
  }
  .fave-brands-block .col-sm-6 {
    text-align: center;
  }
  .tips-block {
    padding: 2.8rem 0 2rem;
  }
  .tips-block .col-md-6 {
    margin: 0 0 2rem;
  }
  .search-item a {
    font-size: 1.3rem;
  }
  .padding-left-right-1 {
    padding: 0.8rem 1rem;
  }
  #subscribeID {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .logo_and_menu-block .col-xs-6 {
    width: 100%;
  }
  .search-list {
    justify-content: center;
  }
  .header-features-item {
    padding-left: 4rem;
    margin: 0.5rem 0;
  }
  .header-features-item-3 {
    padding-left: 6rem;
  }
  .banner1-block {
    background: url('../img/homepage-bg-banner_nyny17.jpg') center 0 no-repeat;
    height: 268px;
    padding-top: 11rem;
  }
  .shop-link {
    font-weight: 700;
    color: #c00;
    border: 1px solid #c00;
    background-color: #f7f5f6;
    padding: 0.8rem 0.5rem;
    min-width: 7.5rem;
    font-size: 0.9rem;
    text-transform: none;
    margin: 0 0.6rem;
  }
  .flash-sale-block {
    display: none;
  }
  #subscribeID {
    flex-direction: column;
  }
  #subscribeID input,
  #subscribeID button {
    width: 100%;
  }
}
